{% extends 'base.html' %}
{% block content %}
  <div class="container pt-2 card">
    <img class="rounded-circle p-2" src="{{ object.author.profile.image.url }}" alt='profile images'style="width:80px;height:80px;">
      <h5 class="nav-link">{{ object.title }}</h5>
      <a class="nav-link" href="#">{{ object.author }}</a>
      {% if object.author == user %}
      <div class="ml-3">
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'update' object.id %}">Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete' object.id %}">Delete</a>
    </div>
      {% endif %}
      <div class="bg=light">
      <p class="ml-3">{{ object.content }}</p>
      <small class="ml-3">{{ object.date_posted|date:"F d, Y" }}  </small>
    </div>
     
	</div>
{% endblock content %}